.header {
    width: 90vw;
    height: 11vh;
    position: absolute;
    top: 3vh;
    left: 5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    img {
        height: 8vh;
        margin-left: 15vw;
        margin-right: 10vw;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: static;
        margin-left: 3vw;
    }

    .buttonContact {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 6vh;
        padding: 0 12px 3px 12px;
        border-radius: 999px;
    }
}

@media screen and (max-width: 992px) {
    .header {
        img {
            height: 5vh;
            margin-left: 5vw;
            margin-right: 5vw;
        }

        a {
            font-size: 1.5vh;
            margin-left: 3vw;
        }

        .buttonContact {
            height: 4vh;
            padding: 0 6px 2px 6px;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        img {
            height: 3vh;
            margin-left: 2vw;
            margin-right: 2vw;
        }
        
        span{
            margin-left: 2vw;
        }

        a {
            font-size: 1.1vh;
            margin-top: 1vh;
        }

        .buttonContact {
            height: 3vh;
            padding: 0 6px 2px 6px;
        }
    }
}