.header {
    width: 90vw;
    height: 100px;
    position: absolute;
    top: 39px;
    left: 84px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    img {
        height: 80px;
        margin-left: 15vw;
        margin-right: 10vw;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: static;
        margin-left: 3vw;
    }

    .buttonContact {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        padding: 0 12px 3px 12px;
        border-radius: 999px;
    }
}