.header {
    width: 90vw;
    height: 11vh;
    position: absolute;
    top: 3vh;
    left: 5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

    img {
        height: 8vh;
        margin-left: 16vw;
        margin-right: 16vw;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        position: static;
        margin-left: 3vw;
    }

    .buttonContact {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 6vh;
        padding: 0 12px 3px 12px;
        border-radius: 999px;
    }
}

@media screen and (max-width: 1500px) {
    .header {
        img {
            margin-left: 10vw;
            margin-right: 10vw;
        }

        a {
            font-size: 1.8vh;
            margin-left: 4vw;
        }

        .buttonContact {
            height: 5vh;
            padding: 0 8px 2px 8px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        img {
            margin-left: 7vw;
            margin-right: 6vw;
        }

        a {
            font-size: 1.6vh;
            margin-left: 3.5vw;
        }

        .buttonContact {
            height: 4.5vh;
            padding: 0 7px 2px 7px;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        img {
            height: 5vh;
            margin-left: 7vw;
            margin-right: 7vw;
        }

        a {
            font-size: 1.5vh;
            margin-left: 3vw;
        }

        .buttonContact {
            height: 4vh;
            padding: 0 6px 2px 6px;
        }
    }
}

@media screen and (max-width: 600px) {
    .header {
        height: 16vh;

        img {
            height: 4vh;
        }

        a {
            font-size: 1.5vh;
            margin-top: 1vh;
        }

        .buttonContact {
            height: 3vh;
            padding: 0 6px 2px 6px;
        }
    }
}

@media screen and (max-width: 450px) {
    .header {
        img {
            height: 2.5vh;
        }

        a {
            font-size: 1.1vh;
        }

        .buttonContact {
            height: 2.5vh;
            padding: 0 5px 2px 5px;
        }
    }
}