<div class="header" [ngStyle]="{'background-color': backgroundColor}">
    <span>
        <a [ngStyle]="{'color': textColor}" routerLink="/">Qui sommes nous?</a>
        <a [ngStyle]="{'color': textColor}" routerLink="/">Nos activités</a>
    </span>
    <span>
        <img [src]=logo alt="TrissClean Logo">
    </span>
    <span>
        <a [ngStyle]="{'color': textColor}" routerLink="/worker">Nos intervenants</a>
        <a [ngStyle]="{'color': textColor}" class="buttonContact" [ngStyle]="{'color': backgroundColor, 'background-color': textColor}" routerLink="/contact">Contactez nous!</a>
    </span>
</div>
