footer {
    width: 98%;
    position: absolute;
    z-index: 100;
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 0 20px 0 20px;
    height: 17vh;
    margin-top: 0;

    img {
        margin-left: 3vw;
        margin-top: 4vh;
    }

    .footer-infos {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        margin-right: 12px;
    }

    .footer-links {
        width: 100%;
        display: flex;
        justify-content: space-around;

        .footer-list {
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            margin-right: 5px;

            img{
                margin: 0;
                height: 3vh;
                width: 3vh;
                margin-right: 2vh;
            }
            a {
                font-family: 'futura', sans-serif;
                font-size: 15px;
                margin-bottom: 5px;
                text-decoration: solid underline;
            }
            &:last-child {
                margin-right: 0;
            }
            .footer-list-title {
                display: block;
                font-family: 'interstate', sans-serif;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            span {
                font-family: 'futura', sans-serif;
                font-size: 15px;
                margin-bottom: 7px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    footer {
        padding: 2vh 2vw;
    }
}

@media screen and (max-width: 900px) {
    footer {
        padding: 2vh 1vw;

        img{
            margin: 0;
            margin-top: 5vh;
            padding: 0;
            height: 5vh;
        }

        .footer-infos {
            max-width: none;
            align-items: center;
            margin-bottom: 32px;
        }

        .footer-links{
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 650px) {
    footer{
        display: flex;
        flex-direction: column;
        height: max-content;

        .footer-infos {
            width: 100%;
            max-width: none;
        }

        .footer-links {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .footer-list {
                margin-bottom: 20px;
                width: 100%;

                .footer-list-title {
                    margin-bottom: 5px !important;
                }
            }
        }
    }
}