<footer [ngStyle]="{'background-color': backgroundColor}">
    <div class="footer-infos">
        <img [src]=logo alt="Le Tisseur 2 Toiles Logo">
    </div>
    <div class="footer-links">
        <div class="footer-list">
            <span class="footer-list-title" [ngStyle]="{'color': textColor}">Menu</span>
            <a [ngStyle]="{'color': textColor}" routerLink="/" (click)="scrollTo('qui')">Qui sommes-nous?</a>
            <a [ngStyle]="{'color': textColor}" routerLink="/" (click)="scrollTo('activites')">Nos activités</a>
            <a [ngStyle]="{'color': textColor}" routerLink="/worker">Nos intervenants</a>
            <a [ngStyle]="{'color': textColor}" routerLink="/contact">Contact</a>
        </div>
        <div class="footer-list">
            <span class="footer-list-title" [ngStyle]="{'color': textColor}">Certifications</span>
            <span [ngStyle]="{'color': textColor}">Télephone: <a href="tel:0618934872" [ngStyle]="{'color': textColor}">+ 33 6 24 86 45 45</a></span>
            <span [ngStyle]="{'color': textColor}">Mail: <a href="mailto:trissclean.net@gmail.com" [ngStyle]="{'color': textColor}">trissclean.net&#64;gmail.com</a></span>
        </div>
    </div>  
</footer>
