<footer [ngStyle]="{'background-color': backgroundColor}">
    <div class="footer-infos">
        <img [src]=logo alt="Le Tisseur 2 Toiles Logo">
    </div>
    <div class="footer-links">
        <div class="footer-list">
            <span class="footer-list-title" [ngStyle]="{'color': textColor}">Menu</span>
            <a [ngStyle]="{'color': textColor}" routerLink="/" (click)="scrollTo('qui')">Qui sommes-nous?</a>
            <a [ngStyle]="{'color': textColor}" routerLink="/" (click)="scrollTo('activites')">Nos activités</a>
            <a [ngStyle]="{'color': textColor}" routerLink="/worker">Nos intervenants</a>
            <a [ngStyle]="{'color': textColor}" routerLink="/contact">Contact</a>
        </div>
        <div class="footer-list">
            <span class="footer-list-title" [ngStyle]="{'color': textColor}">Certifications</span>
            <span [ngStyle]="{'color': textColor}">Télephone: <a href="tel:0618934872" [ngStyle]="{'color': textColor}">+ 33 6 24 86 45 45</a></span>
            <span [ngStyle]="{'color': textColor}">Mail: <a href="mailto:trissclean.net@gmail.com" [ngStyle]="{'color': textColor}">trissclean.net&#64;gmail.com</a></span>
            <span [ngStyle]="{'color': textColor}">&copy; 2025 - TrissClean. Tous droits réservés.</span>
            <span [ngStyle]="{'color': textColor}">Développé par : 
                <a [ngStyle]="{'color': textColor}" class="tisseur2toiles" target="_blank" href="https://www.google.com/search?q=le+tisseur+2+toiles+avis&client=firefox-b-d&sca_esv=046182418b1cd8f1&sxsrf=AHTn8zqezdPnLEwIwjN9isfHQK6dNcP5Pw%3A1746185991927&ei=B68UaLy-OMKtkdUP3u7fiAE&oq=le+tisseur+2+toiles&gs_lp=Egxnd3Mtd2l6LXNlcnAiE2xlIHRpc3NldXIgMiB0b2lsZXMqAggAMgcQIxiwAxgnMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHMgoQABiwAxjWBBhHSJkJUABYAHABeAGQAQCYAQCgAQCqAQC4AQHIAQCYAgGgAgaYAwCIBgGQBgmSBwExoAcAsgcAuAcA&sclient=gws-wiz-serp">
                    Le Tisseur 2 Toiles
                </a>
            </span>
        </div>
    </div>  
</footer>
