<app-header [backgroundColor]="backgroundColor" [textColor]="textColor" [logo]="logo"></app-header>
<div class="responsable" [ngStyle]="{ backgroundColor: textColor }">
    <h1>Nos différents intervenants</h1>
    <div class="responsable-card">  
        <img src="/img/cleaner3.png" class="responsable-image" />      
        <div class="texte">            
            <h2>Tristan</h2>
            <p> En tant que fondateur de ce réseau d’indépendants, je mets à profit plus de 8 années d’expertise dans le nettoyage et le lavage de vitres pour garantir des prestations fiables et maîtrisées. <br>
                Je propose également des services complémentaires tels que le nettoyage automobile et l’entretien de canapés et tapis. <br>
                Rigoureux et structuré, j’assure la gestion complète des devis, contrats et facturations, afin d’offrir un accompagnement professionnel, clair et efficace.
            </p>
        </div>
    </div>    
</div>
<div class="worker">
    <h1>Notre équipe</h1>
    <div class="worker-caroussel" [ngStyle]="{ color: backgroundColor }" (mouseenter)="pauseAutoSlide()"
     (mouseleave)="resumeAutoSlide()">
        <button class="left" (click)="prev()"><img class="icon" src="/svg/arrow-left-solid-full.svg"></button>
        <div class="card">
            <div class="profile-header">
                <img class="worker-image" src="/svg/user-solid-full.svg" alt="user">
                <h4 class="worker-nom">{{worker[currentIndex].nom}}</h4>
            </div>
            <div class="profile-content">                
                <h3 class="worker-titre">{{worker[currentIndex].titre}}</h3>
                <p class="worker-texte">{{worker[currentIndex].text}}</p>
            </div>          
        </div>
        <button (click)="next()"><img class="icon" src="/svg/arrow-right-solid-full.svg"></button>
    </div>
    <app-footer [backgroundColor]="backgroundColor" [textColor]="textColor" [logo]="logo" [logofb]="logofb" [logolinkedin]="logolinkedin"></app-footer>
</div>

