.responsable {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;

    h1{
        margin-top: 20vh;
        color: #152663;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 5vh;
    }

    .responsable-card{
        display: flex;
        flex-direction: row;
        padding: 0 20vw;

        img{
            width: 10vw;
            height: max-content;
        }

        .texte{
            margin-left: 5vw;
            color:#152663;
            width: 50vw;

            h2{
                font-size: 4vh;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            p{
                font-size: 2vh;
                font-family: 'Arial', sans-serif;
                text-align: left;
            }
        }
    }
}

.worker {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #D6ECF4;    
    padding: 0vh 0 10vh 0;

    h1{
        margin-top: 10vh;
        color: #152663;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 5vh;
    }

    .worker-caroussel{
        display: flex;
        width: 60vw;       
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        margin: auto;
        margin-bottom: 10vh;

        .card{
            border-radius: 20px;
            margin-left: 3vw;
            margin-right: 3vw;
            padding: 2rem;
            width: 100%;
            max-width: 30vw;
            box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
            position: relative;
            transition: transform 0.5s ease-in-out;
            background: linear-gradient(
                to right,
                #c9dbe2,
                #D6ECF4
            );

            .profile-header {
                display: flex;
                align-items: center;
            }

            .worker-image{
                width: 5vw;                
                border-radius: 20%;                
                object-fit: cover;
            }

            .worker-nom{
                font-size: 3vh;
                color: #152663;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin: 1vh 0 0.5vh 1.5vw;
            }

            .profile-content {
                text-align: left;
                color: #152663;
                margin-top: 1vh;
            }

            .worker-titre{
                font-size: 4vh;
                color: #152663;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                margin: 0 0 1vh 0;
                text-align: center;
            }

            .worker-texte{
                font-size: 2vh;
                color: #152663;
                font-family: 'Arial', sans-serif;
            }
        }
  
        button {
            background-color: #152663;
            color: #D6ECF4;
            width: 2vw;
            height: 2vw;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            :hover {
                transform: matrix(1.1, 0, 0, 1.1, 0, 0);
            }
        }
    }
}