<app-header [backgroundColor]="backgroundColor" [textColor]="textColor" [logo]="logo"></app-header>
<div class="accueil-section">
    <div class="fondFlou">
        <p style="margin-bottom: 3vh; margin-top: 0;">Vitres - Nettoyage - Entretien</p>
        <h1>Un travail clean</h1>
        <h1>à petit prix!</h1>
        <p style="margin-top: 2vh;">Réseau d’indépendants de nettoyage en région Rhône-Alpes</p>
        <button routerLink="/contact" class="btn-contact-home">Demandez un devis gratuit !</button>
    </div>
</div>
<div class="presentation-section" id="qui">
    <h2>Qui sommes-nous ?</h2>
    <div class="content">
        <div class="texte">TrissClean est le 1er réseau d’indépendants du nettoyage en France, réunissant des prestataires qualifiés et autonomes pour garantir un service régulier, fiable et conforme à nos standards qualité.
            <br> Nos prestations:
            <ol>
                <li>Ménage, nettoyage et lavage de vitres</li>
                <li>Remise en état et nettoyage de fin de chantier</li>
                <li>Lavage automobile, nettoyage de canapé, tapis et textiles</li>
            </ol>
            Un réseau structuré pour une qualité constante. <br>
            Grâce à nos intervenants implantés localement en Rhône-Alpes, nous assurons proximité, réactivité et suivi rigoureux de chaque prestation.
            Nos indépendants sont accompagnés et formés pour offrir une qualité homogène sur l’ensemble du réseau. <br>
            Nos avantages:
            <ol>
                <li>Solutions de nettoyage pour entreprises, bureaux et commerces</li>
                <li>Services à domicile ouvrant droit à 50 % aux crédits d’impôt.</li>
            </ol>
            <b>TrissClean : la force d’un réseau, la qualité d’indépendants engagés!</b>
        </div>
        <div class="rightSide">
            <img class="worker1" src="img/cleaner1.png" alt="Équipe de nettoyage">
            <img class="worker2" src="img/cleaner2.png" alt="Équipe de nettoyage">
            <img class="worker3" src="img/cleaner3.png" alt="Équipe de nettoyage">
            <img class="worker4" src="img/cleaner4.png" alt="Équipe de nettoyage">
            <button routerLink="/worker" class="btn-worker-home">Nos intervenants <img class="icon" src="/svg/arrow-right-solid-full.svg"></button>
        </div>
    </div>
</div>
<div class="activites-section" id="activites">
    <h2>Nos activités</h2>
    <div class="activites">
        <div class="activity-card">
            <img style="padding: 1.5vh 1.3vw;" src="/svg/Balai.svg" alt="Nettoyage de vitres">
            <h3>Ménages à domicile</h3>
            <p>Notre équipe de confiance s’occupe de votre logement avec soin et discrétion, pour que vous puissiez profiter pleinement de votre temps.</p>
        </div>
        <div class="activity-card">
            <img style="padding: 1.5vh 1.7vw;" src="/svg/Vector.svg" alt="Nettoyage de locaux">
            <h3>Nettoyage industriel</h3>
            <p>Nous intervenons avec efficacité et rigueur pour offrir à vos équipes un environnement de travail sain et irréprochable.</p>
        </div>
        <div class="activity-card">
            <img style="padding: 1.5vh 1.5vw;" src="/svg/Vitre.svg" alt="Entretien ménager">
            <h3>Lavages de vitres</h3>
            <p>Qu’il s’agisse de bureaux, de vitrines ou de maisons, nous redonnons à vos surfaces vitrées toute leur transparence et leur brillance.</p>
        </div>
    </div>
</div>
<div class="avis-section">
    <h2>Ce qu'ils en pensent</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.2.10/iframeResizer.min.js"></script>
    <iframe onload="iFrameResize(this)" src="https://65f057af8ce344c0a93c8deb56f6573c.elf.site"></iframe>
    <app-footer [backgroundColor]="textColor" [textColor]="backgroundColor" [logo]="logoWhite" [logofb]="logofb" [logolinkedin]="logolinkedin"></app-footer>
</div>
