.accueil-section { /* OK */
    height: 90vh;
    width: 100%;
    background-image: url('/img/fond-ecran.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;

    .fondFlou{
        position: absolute;
        top: 25%;
        left: 10%;
        height: 32vh;
        backdrop-filter: blur(30px);
        border-radius: 20px;
        border: #D6ECF4 solid 2px;
        padding: 5vh 3vw;
        text-decoration: none;

        h1{
            color: #152663;
            font-size: 8vh;
            margin: 0;
            font-family: "Cabinet Grotesk", system-ui, sans-serif;
            font-weight: 700;
        }

        h2{
            color: #152663;
            font-size: 2.5vh;
            margin: 0;
            font-family: "Cabinet Grotesk", system-ui, sans-serif;
            font-weight: 300; /* 500? */
        }

        h3{
            color: #152663;
            font-family: "Cabinet Grotesk", system-ui, sans-serif;
            font-weight: 300;
            font-size: 3vh;
        }
    }
    

    .btn-contact-home {
        position: relative;
        left: 75%;
        padding: 2vh 1vw;
        background-color: #152663;
        color: #FCF8D2;
        border: none;
        border-radius: 90px;
        cursor: pointer;
        font-family: "Cabinet Grotesk", system-ui, sans-serif;
        font-weight: 700;
        font-size: 3.5vh;
        transition: background-color 0.3s ease;
    }

    .btn-contact-home:hover {
        background-color: #FCF8D2;
        color: #152663;
    }
}

.presentation-section { /* à  revoir */
    position: relative;
    top: -50px;
    background-color: #D6ECF4;
    color:#152663;
    border-radius: 50px;
    padding: 3vh 3vw;
    z-index: 99;

    h2{
        text-align: center;
        width: 100%;
        font-size: 5vh;
        font-family: "Cabinet Grotesk", system-ui, sans-serif;
        font-weight: 500;
    }

    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3vh;

        .texte{
            width: 35%;
            font-size: 1.7vh;
        }

        b{
            font-size: 2vh;
            font-weight: 600;
        }

        .logo{
            width: 4vh;
            margin-left: 1vw;
        }

        .rightSide{
            width: 60%;
            float: right;

            img{
                position: absolute;
                border-radius: 20px;
            }

            .worker1{
                top: 15vh
            }

            .worker2{
                top: 20vh; left: 57vw;
            }

            .worker3{
                width: 10vw;
                top: 10vh; left: 71vw;
            }

            .worker4{
                top: 5vh; left: 85vw;
            }

            .btn-worker-home{
            position: absolute;
            top: 45vh; 
            left: 78vw;
            height: 6vh;
            padding: 2vh 1vw;
            padding-right: 3vw;
            background-color: #D6ECF4;
            color: #152663;
            font-weight: 500;
            font-family: "Cabinet Grotesk", system-ui, sans-serif;
            border: #152663 solid 2px;
            border-radius: 40px;
            cursor: pointer;
            font-size: 1.5vh;                
            }   

            .btn-worker-home:hover{
                background-color: #152663;
                color: #FCF8D2;                                             
            }

            .icon{
                position: inherit;
                top: 0;
                right: 0;
                background-color: #152663;
                height: 5.7vh;
                border-radius: 50px;                
            }

            .icon:hover{
                background-color: #FCF8D2;
                color: #152663; 
            }
        }
    }
}

.activites-section { /* OK */
    position: relative;
    top: -20vh;
    height: fit-content;
    padding: 3vh 3vw;
    padding-bottom: 10vh;
    background-color: #152663;
    border-radius: 50px;
    z-index: 98;

    h3{
        margin-top: 20vh;
        text-align: center;
        color: #D6ECF4;
        width: 100%;
        font-family: "Cabinet Grotesk", system-ui, sans-serif;
        font-weight: 500;
        font-size: 7vh;
    }

    .activites{
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin-left: 10%;
        margin-top: 10vh;

        .activity-card{
            background: linear-gradient(
                to left,
                #263773,
                #152663
            );
            border-radius: 20px;
            height: 35vh;
            width: 35vh;
            padding: 2vh 2vw;
            box-shadow: 2px 2px 10px #D6ECF4;
            text-align: center;

            img{ /* a revoir */
                position: relative;
                top: -7vh;
                height: 12vh;
                background-color: #152663;
                border: #D6ECF4 solid 3px;
                border-radius: 999px;
                box-sizing: border-box;
            }

            h2{
                font-family: "Cabinet Grotesk", system-ui, sans-serif;
                font-weight: 500;
                color: #D6ECF4;
                font-size: 4vh;
                margin-top: -4vh;
            }

            p{
                font-family: "Cabinet Grotesk", system-ui, sans-serif;
                font-weight: 300;
                color: #D6ECF4;
                font-size: 2.5vh;
            }
        }
    }
}

.avis-section{ /* OK */
    position: relative;
    height: fit-content;
    margin-top: -30vh;
    margin-bottom: 0;
    padding-bottom: 10vh;
    background: linear-gradient(
    270deg,
    #D6ECF4 30%,
    #7E9FD6 100%
    );
    display: flex;
    flex-direction: column;

    h3{
        text-align: center;
        color:#152663;
        font-family: "Cabinet Grotesk", system-ui, sans-serif;
        font-weight: 500;
        font-size: 7vh;
        margin-top: 20vh;
    }

    iframe{
        margin: auto;
        border: none;
        width: 50vw;
        height: 30vh;
        /* box-shadow: 2px 2px 10px #D6ECF4; */
    }
}

@media screen and (max-width: 1500px) {
    .avis-section{
        iframe{
            width: 60vw;
            height: 30vh;
            margin-bottom: 5vh;
        }
    }

    .activites-section {
        .activites{
            width: 100%;
            margin-left: 0;

            .activity-card{
                height: 30vh;
                width: 30vh;

                h2{
                    font-size: 3.5vh;
                }

                p{
                    font-size: 2vh;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .accueil-section {
        .btn-contact-home {
            font-size: 2.5vh;
            padding: 1.5vh 1vw;
        }
    }
}

@media screen and (max-width: 900px) {
    .accueil-section {
        .fondFlou{
            height: 27vh;
            width: 75vw;
            left: 5%;
            right: 5%;

            h1{
                font-size: 6vh;
            }

            p{
                font-size: 2.5vh;
            }

            h3{
                font-size: 2.5vh;
            }
        }

        .btn-contact-home {
            font-size: 2.5vh;
            left: 70%;
            padding: 1.5vh 1vw;
        }
    }

    .presentation-section {

    .content{
        .texte {
            width: 50%;
            margin-bottom: 3vh;
        }

        img{
            width: 20vw;
        }

        .rightSide{
            width: 50%;
            float: right;
        }

        .worker1{
            top: 15vh;
        }

        .worker2{
            top: 30vh; left: 52vw;
        }

        .worker3{
            top: 11vh; left: 75vw;
        }

        .worker4{
            top: 35vh; left: 79vw;
        }

        .btn-worker-home{
            top: 60vh; 
            left: 65vw;
            height: 4vh;
            width: 27vw;
            padding: 1vh 0vw;
            font-size: 1.5vh;

            .icon{
                width: 3.9vh;
                height: 3.9vh;              
            }
        }
    }
    }

    .activites-section {
        .activites{
            flex-direction: column;
            align-items: center;

            .activity-card{
                width: 80%;
                margin-bottom: 5vh;

                h2{
                    font-size: 4.5vh;
                }

                p{
                    font-size: 3vh;
                }
            }
        }
    }

    .avis-section{
        iframe{
            width: 80vw;
            height: 30vh;
        }
    }
}

@media screen and (max-width: 710px) {
    .accueil-section {
        .fondFlou{

            h1{
                font-size: 5vh;
            }

            p{
                font-size: 2.5vh;
            }

            h3{
                font-size: 2.5vh;
            }
        }

        .btn-contact-home {
            font-size: 2.5vh;
            left: 65%;
            padding: 1.5vh 1vw;
        }
    }

    .activites-section {
        .activites{
            .activity-card{
                margin-bottom: 7vh;

                h2{
                    font-size: 4.5vh;
                }

                p{
                    font-size: 3vh;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .accueil-section {
        height: 80vh;

        .fondFlou{
            height: 27vh;
            width: 65vw;

            h1{
                font-size: 5vh;
            }

            p{
                font-size: 2.5vh;
            }

            h3{
                font-size: 2.5vh;
            }

            .btn-contact-home {
                font-size: 2vh;
                left: 60%;
                padding: 1.5vh 1vw;
            }
        }
    }

   .activites-section {
        .activites{
            .activity-card{
                margin-bottom: 7vh;

                h2{
                    font-size: 4vh;
                }

                p{
                    font-size: 2.5vh;
                }
            }
        }
    }
}

@media screen  and (max-width: 500px) {
    .accueil-section {
        .fondFlou{
            height: 27vh;
            width: 75vw;

            h1{
                font-size: 5vh;
            }

            p{
                font-size: 2.5vh;
            }

            h3{
                font-size: 2.5vh;
            }
        }

        .btn-contact-home {
            font-size: 2vh;
            left: 60%;
            padding: 1.5vh 1vw;
        }
    }
}

@media screen and (max-width: 450px) {
    .accueil-section {
        height: 80vh;

        .btn-contact-home { /* fait n'importe quoi */
            font-size: 20vh;
            left: -10%;
            padding: 1.5vh 1vw;
        }
    }   
}

@media screen and (max-width: 400px) {
    .accueil-section {

        .btn-contact-home { /* fait n'importe quoi */
            left: -10%;
            padding: 1.5vh 1vw;
        }
    }   
}